<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <img (click)="irComponente('menu')"class="logo" src="../../../assets/iconos/huerto.png" alt="">
      <h1 (click)="irComponente('menu')"class="example-app-name">MuyApp</h1>
    <div class="usuario" fxFlex="4%">
      <button mat-fab color="primary" [matMenuTriggerFor]="menuPersona">
        <img src="{{url}}ver-archivo/{{personaLog.foto}}/imagen-persona" alt="">
     </button>
      <mat-menu  #menuPersona="matMenu" xPosition="before">

          <mat-card class="tarjeta-usuario">
            <img mat-card-image src="{{url}}ver-archivo/{{personaLog.foto}}/imagen-persona">
            <mat-card-header class="cabecera-usuario">
              <mat-card-title>{{personaLog.nombre}} {{personaLog.apellido}}</mat-card-title>
              <mat-card-subtitle>{{personaLog.correoElectronico}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button class="btnMenu" mat-button>
                Cofiguracion
              </button>
              <button class="btnMenu" mat-button>
                <a routerLink="">Cerrar Sesion</a>
              </button>
            </mat-card-actions>
          </mat-card>

      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="sideNav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
                  <app-side-huerto></app-side-huerto>
    </mat-sidenav>

    <mat-sidenav-content class="fondillo">
      <div class="contenido"*ngIf="content"  >

        <div (click)="cambio()" routerLink="data" class="muya-data">
          <img src="../../../assets/iconos/data.png" alt="">
          <p>MuyaData</p>
        </div>

        <div (click)="cambio()" routerLink="app" class="muya-app">
          <img src="../../../assets/iconos/huerto.png" alt="">
          <p>MuyApp</p>
        </div >

        <div (click)="cambio()"  routerLink="map" class="muya-map">
          <img src="../../../assets/iconos/map.png" alt="">
          <p>MuyaMap</p>
        </div>
      </div>


      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
