.fondillo{
  position: relative;
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../../../assets/imagenes/fondillo.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.boton-menu{
  padding: 0;
  margin: 0;
}
button mat-menu-item{
  height: auto;
  width: auto;
}
button mat-icon-button{
  position: absolute;
  left: 25px;
  top: 20px
}
mat-toolbar {
  height: 3.3rem;
  background:linear-gradient(to top, white,#D2FFD7);
  padding: 0;
 }
.example-is-mobile .example-toolbar {

  position: relative;

  text-align: center;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}
.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.centradito{
  cursor: pointer;
  h1{
    margin-top: -10px;
    display: inline-block;
  }
  img{
    cursor: pointer;
    opacity: 1;
    width: 50px;
    height: 50px;
  }
  right: 45%;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.usuario {
  position: absolute;
  right: 25px;
  display: inline-block;
}
.usuario button {
  padding: 0;
  height: 45px;
  width: 45px;
  margin-top: 0.1rem;
}
.usuario button img {
  height: 45px;
  width: 45px;
  margin-top: -0.9rem;
  padding: 0;
  border-radius: 100%;
  // border:1px solid #666;
}
.tarjeta-usuario {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
  img{
    background-color: green;
    right: 40%;
    border-radius: 100%;
    width: 70px;
    height: 70px;
  }
}
.btnMenu{
  background:linear-gradient(to top, white,#D2FFD7);
  a{
    color: black;
    transition: 0.2s ease-in-out;
  }
  a:link{
    color: black;
    text-decoration: none;
  }
  a:hover{
    font-size: 1rem;
    text-decoration: underline;
    transition: 0.2s ease-in-out;
  }
}
.cabecera-usuario{
  mat-card-title{
    right: 50%;
    top: 100px
  }
  mat-card-subtitle{
    right: 50%;
    top: 100px
  }
}

mat-card img{
  justify-content: center;
}

//Boton de Admin

.admin{
  position: absolute;
  display: inline-block;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  top: 50px;
  right: 90px;
  background-color: floralwhite;
}
.admin:hover{
  cursor: pointer;
}
/*
@import '../../../main-style.scss';

.layout-box{
  display: flex;
  flex-direction: column;
  height: 100%;

  overflow: hidden;

  .page-content{
    flex-grow: 1;
    overflow-y : scroll;
  }
}
.top-bar{
  position: relative;
  width: 100%;
  height: 68px;
  background:linear-gradient(to top, #D2FFD7,white);

  box-shadow: 0px 0px 10px 0px rgba(black, 0.60);

  display: flex;
  flex-shrink: 0; // to prevent the top bar from shrinking  para prevenir que la barra de top se contraiga
  // Center child elements(the heading)
  justify-content: center;
  align-items: center;
  h1{
    color:#707070 ;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }
  .cara{
    position: absolute;
    right: 15px;
  }
  .icono{
    position: absolute;
    left: 15px;
  }
}
mat-sidenav-container {
  max-width: 100%;
  height: 550px;
}
mat-sidenav {
  position: absolute;
  max-width: 320px;
  background-color: #f77129c2;
  height: 550px;
}
mat-sidenav-content {
  background-color: #fff;
  height: 550px;
}
*/

//Color de fondo para el content
mat-sidenav-content{
  background:linear-gradient(to top, white,#E5E5E5);
}

//Estilos para el menu
.contenido{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    height: 80%;
    width: 250px;
  }
}

.muya-app{
  text-align: center;
  transition: 2s ease-out;
  cursor: pointer;
  background-image: url('../../../assets/imagenes/app.jpg');
  border-radius: 3%;
  opacity: 70%;
  background-size: cover;
  background-position: center; /* Center the image */
  img{
    transition: 1s ease-out;
    margin-top: 70%;
    width: 110px;
    height: 110px;
  }
  p{
    transition: 1s ease-out;
    font-size: 20px;
    font-weight: bold;
    margin-top: 71%;
  }
}
.muya-data{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
  transition: 2s ease-out;
  cursor: pointer;
  border-radius: 3%;
  background-image: url('../../../assets/imagenes/data.jpg');
  opacity: 70%;
  background-size: cover;
  background-position: center; /* Center the image */
  img{
    transition: 1s ease-out;
    margin-top: 70%;
    width: 100px;
    height: 100px;
  }
  p{
    transition: 1s ease-out;
    font-size: 20px;
    font-weight: bold;
    margin-top: 76%;
  }
}
.muya-map{
  text-align: center;
  transition: 2s ease-out;
  cursor: pointer;
  border-radius: 3%;
  background-image: url('../../../assets/imagenes/map.jpg');
  opacity: 70%;
  background-size: cover;
  background-position: center; /* Center the image */
  img{
    transition: 1s ease-out;
    margin-top: 70%;
    width: 70px;
    height: 100px;
  }
  p{
    transition: 1s ease-out;
    font-size: 20px;
    font-weight: bold;
    margin-top: 74%;
  }
}
.muya-app:hover{
  box-shadow: 0px 0px 10px 0px rgba(black, 0.60);
  transition: 1s ease-out;
  opacity: 95%;
  background-size: cover;
  width: 101%;
  background-position: center; /* Center the image */
  img{
    transition: 0.5s ease-out;
    width: 125px;
    height: 125px;
  }
  p{
    transition: 0.5s ease-out;
    font-size: 25px;
    font-weight: bold;
  }
}
.muya-map:hover{
  box-shadow: 0px 0px 10px 0px rgba(black, 0.60);
  transition: 1s ease-out;
  opacity: 95%;
  background-size: cover;
  background-position: center; /* Center the image */
  img{
    transition: 0.5s ease-out;
    width: 85px;
    height: 115px;
  }
  p{
    transition: 0.5s ease-out;
    font-size: 25px;
    font-weight: bold;
  }

}
.muya-data:hover{
  box-shadow: 0px 0px 10px 0px rgba(black, 0.60);
  transition: 1s ease-out;
  opacity: 95%;
  background-size: cover;
  background-position: center; /* Center the image */
  img{
    transition: 0.5s ease-out;
    width: 115px;
    height: 115px;
  }
  p{
    transition: 0.5s ease-out;
    font-size: 25px;
    font-weight: bold;
  }
}
.sideNav{
  width: auto;
}
/* bigger laptops */
@media only screen and (min-width: 1224px) {}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 850px) and (max-width: 1024px) {}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 500px) and (max-width: 800px) {
  .contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px;
    div{
      height: 250px;
      width: 300px;
    }
    .muya-data{
      text-align: center;
      align-items: center;
      margin: auto;
      img{
        margin-top: 20%;
        width: 70px;
        height: 70px;
      }
      p{
        margin-top: 10%;
      }
    }
    .muya-map{
      text-align: center;
      align-items: center;
      margin: auto;
      img{
        margin-top: 20%;
        width: 70px;
        height: 70px;
      }
      p{
        margin-top: 10%;
      }
    }
    .muya-app{
      text-align: center;
      align-items: center;
      margin: auto;
      img{
        margin-top: 20%;
        width: 70px;
        height: 70px;
      }
      p{
        margin-top: 10%;
      }
    }
  }
}
/* mobiles (landscape and portrait) */
@media only screen and (min-width: 320px) and (max-width: 500px) {
  .contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px;
    div{
      height: 250px;
      width: 300px;
    }
    .muya-data{
      text-align: center;
      align-items: center;
      margin: auto;
      img{
        margin-top: 20%;
        width: 70px;
        height: 70px;
      }
      p{
        margin-top: 10%;
      }
    }
    .muya-map{
      text-align: center;
      align-items: center;
      margin: auto;
      img{
        margin-top: 20%;
        width: 70px;
        height: 70px;
      }
      p{
        margin-top: 10%;
      }
    }
    .muya-app{
      text-align: center;
      align-items: center;
      margin: auto;
      img{
        margin-top: 20%;
        width: 70px;
        height: 70px;
      }
      p{
        margin-top: 10%;
      }
    }
  }
}
.tarjeta-usuario:hover{
  background:linear-gradient(to top, white,#E5E5E5);
}
