
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.boton-menu{
  padding: 0;
  margin: 0;
}
button mat-menu-item{
  height: auto;
  width: auto;
}
button mat-icon-button{
  position: absolute;
  left: 25px;
  top: 20px
}
mat-toolbar {
  height: 3.3rem;
  background:linear-gradient(to top, white,#D2FFD7);
  padding: 0;
 }
.example-is-mobile .example-toolbar {

  position: relative;

  text-align: center;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  cursor: pointer;
  position: absolute;
  right: 45%;
}
.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}
.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.logo{
  cursor: pointer;
  position: absolute;
  right: 51%;
  opacity: 1;
  width: 50px;
  height: 50px;
}
.usuario {
  position: absolute;
  right: 25px;
  display: inline-block;
}
.usuario button {
  padding: 0;
  height: 45px;
  width: 45px;
  margin-top: 0.1rem;
}
.usuario button img {
  height: 45px;
  width: 45px;
  margin-top: -0.9rem;
  padding: 0;
  border-radius: 100%;
  // border:1px solid #666;
}
.tarjeta-usuario {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
  img{
    background-color: green;
    right: 40%;
    border-radius: 100%;
    width: 70px;
    height: 70px;
  }
}
.btnMenu{
  background:linear-gradient(to top, white,#D2FFD7);
  a{
    color: black;
    transition: 0.2s ease-in-out;
  }
  a:link{
    color: black;
    text-decoration: none;
  }
  a:hover{
    font-size: 1rem;
    text-decoration: underline;
    transition: 0.2s ease-in-out;
  }
}
.cabecera-usuario{
  mat-card-title{
    right: 50%;
    top: 100px
  }
  mat-card-subtitle{
    right: 50%;
    top: 100px
  }
}

mat-card img{
  justify-content: center;
}
/*
@import '../../../main-style.scss';

.layout-box{
  display: flex;
  flex-direction: column;
  height: 100%;

  overflow: hidden;

  .page-content{
    flex-grow: 1;
    overflow-y : scroll;
  }
}
.top-bar{
  position: relative;
  width: 100%;
  height: 68px;
  background:linear-gradient(to top, #D2FFD7,white);

  box-shadow: 0px 0px 10px 0px rgba(black, 0.60);

  display: flex;
  flex-shrink: 0; // to prevent the top bar from shrinking  para prevenir que la barra de top se contraiga
  // Center child elements(the heading)
  justify-content: center;
  align-items: center;
  h1{
    color:#707070 ;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }
  .cara{
    position: absolute;
    right: 15px;
  }
  .icono{
    position: absolute;
    left: 15px;
  }
}
mat-sidenav-container {
  max-width: 100%;
  height: 550px;
}
mat-sidenav {
  position: absolute;
  max-width: 320px;
  background-color: #f77129c2;
  height: 550px;
}
mat-sidenav-content {
  background-color: #fff;
  height: 550px;
}
*/

//Color de fondo para el content
mat-sidenav-content{
  background:linear-gradient(to top, white,#E5E5E5);
}

//Estilos para el menu
.contenido{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div{
    margin-top: 55px;
    margin-left: 40px;
    margin-right: 40px;
    border-color: hsla(89, 43%, 51%, 1);
    height: 80%;
    width: 250px;
  }
}

.muya-app{
  text-align: center;
  transition: 2s ease-out;
  cursor: pointer;
  background-image: url('../../../assets/imagenes/app.jpg');
  border-color: #D2FFD7;
  opacity: 60%;
  background-size: cover;
  background-position: center; /* Center the image */
  img{
    transition: 1s ease-out;
    margin-top: 70%;
    width: 100px;
    height: 100px;
  }
}
.muya-data{
  text-align: center;
  transition: 2s ease-out;
  cursor: pointer;
  background-image: url('../../../assets/imagenes/data.jpg');
  opacity: 60%;
  background-size: cover;
  background-position: center; /* Center the image */
  img{
    transition: 1s ease-out;
    margin-top: 70%;
    width: 100px;
    height: 100px;
  }
}
.muya-map{
  text-align: center;
  transition: 2s ease-out;
  cursor: pointer;
  background-image: url('../../../assets/imagenes/map.jpg');
  opacity: 60%;
  background-size: cover;
  background-position: center; /* Center the image */
  img{
    transition: 1s ease-out;
    margin-top: 70%;
    width: 70px;
    height: 100px;
  }
}
.muya-app:hover{
  transition: 1s ease-out;
  opacity: 90%;
  background-size: cover;
  width: 101%;
  background-position: center; /* Center the image */
  img{
    transition: 0.5s ease-out;
    width: 115px;
    height: 115px;
  }
}
.muya-map:hover{
  transition: 1s ease-out;
  opacity: 90%;
  background-size: cover;
  background-position: center; /* Center the image */
  img{
    transition: 0.5s ease-out;
    width: 85px;
    height: 115px;
  }
}
.muya-data:hover{
  transition: 1s ease-out;
  opacity: 90%;
  background-size: cover;
  background-position: center; /* Center the image */
  img{
    transition: 0.5s ease-out;
    width: 115px;
    height: 115px;
  }
}
.example-custom-date-class {
  background: orange;
  border-radius: 100%;
}
