/* You can add global styles to this file, and also import other style files */
@import './sass/variables';
.contenedorTabla {
  height: 75%;
  width: 97%;
  overflow: auto;
  margin: 20px 20px 0px 25px;
}
.encabezadoTabla {
  background-color: $ignugBgLigth;
  font-family: $ignugTextFontDark;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
