@import "~leaflet/dist/leaflet.css";

.todo{
  display: flex;
  flex-direction: row;
  margin: 15px;
  height: 100%;

  .mp{
    height: 90%;
    border: 1px solid rgba(128, 128, 128, .5);
    width: 65%;
  }
  .opciones{
    margin-top: 50px;
    height: 40%;
    position: relative;
    background:linear-gradient(to top,#D2FFD7,white);
    border: 1px solid rgba(128, 128, 128, .5);
    margin-left: 100px;
    width: 40%;
    mat-accordion{
      margin-top: 40%;
    }
  }
}
mat-form-field {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
