
  <div class="container">
    <div class="contenido">
      <div class="registro">
        <div class="logo-formulario">
          <img src="../../../assets/iconos/huerto.png" alt="">
          <p>MuyApp</p>
        </div>

        <div class="registro-formulario">
            <form action="" [formGroup]="loginForm" >
              <mat-form-field  appearance="outline">
                <mat-label >Correo Electronico</mat-label>
                <input matInput formControlName="correoElectronico" placeholder="Ej: muyapp@gmail.com">
                <mat-error *ngIf="loginForm.get('correoElectronico').hasError('pattern')">
                  <strong>Por favor ingrese un email válido</strong>
                </mat-error>
                <mat-error *ngIf="loginForm.get('correoElectronico').hasError('required')">
                   <strong>Email es necesario</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="psw" type="password">
                <mat-error *ngIf="loginForm.get('psw').hasError('pattern')">
                  <strong>Ingrese una contraseña válida</strong>
                </mat-error>
                <mat-error *ngIf="loginForm.get('psw').hasError('required')">
                  <strong>La contraseña es  necesaria</strong>
                </mat-error>
              </mat-form-field>

              <button mat-raised-button [disabled]="loginForm.invalid" (click)="logIn()">
                INICIAR SESION</button>
            </form>
        </div>

      </div>
    </div>

    <div class="footer">
      <ul>
        <img src="../../../assets/iconos/huerto.png" alt="">
        <li> <a href="#">MuyApp 2020 ©</a> </li>
        <li> <a href="#">Informacion</a> </li>
        <li> <a href="#">Informacion</a> </li>
        <li> <a href="#">Informacion</a> </li>
        <li> <a href="#">Informacion</a> </li>
        <li> <a href="#">Informacion</a> </li>
      </ul>
    </div>
  </div>

