<div class="container">
    <div class="cabecera">
      <img src="../../../assets/iconos/huerto.png" alt="">
      <div class="titulo">
        MuyApp
      </div>
    </div>
    <div class="subtitulo">
      CONFIRMAR REGISTRO
    </div>
    <hr>
    <div class="leyenda">
      Bienvenido a MuyApp, donde podrás tener tu Huerto-Virtual
      <br>
      <br>
      tal y como lo llevas en el mundo real
    </div>
  
    <div class="boton">
        <button mat-raised-button>Get Stared</button>
    </div>

    <div class="footer">
      <ul>
        <img src="../../../assets/iconos/huerto.png" alt="">
        <li> <a href="">MuyApp 2020 ©</a> </li>
        <li> <a href="">Informacion</a> </li>
        <li> <a href="">Informacion</a> </li>
        <li> <a href="">Informacion</a> </li>
        <li> <a href="">Informacion</a> </li>
        <li> <a href="">Informacion</a> </li>
      </ul>
    </div>
</div>

