<div class="container">
  <div class="contenido">
    <div class="signup">
      <div class="logoG">
        <img src="../../../assets/iconos/huerto.png" alt="">
        <div class="titulo">
          MuyApp
        </div>
      </div>

      <div class="ingreso">
          <form action="" [formGroup]="registerForm" >

            <mat-form-field  appearance="outline">
              <mat-label >Nombre</mat-label>
               <input matInput formControlName="nombre" placeholder="Ej: Carlitos">
               <mat-icon matPrefix color="primary"></mat-icon>
            </mat-form-field>

            <mat-form-field  appearance="outline">
              <mat-label >Apellido</mat-label>
               <input matInput formControlName="apellido" placeholder="Ej: Taco">
               <mat-icon matPrefix color="primary"></mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Dirección de correo </mat-label>
              <input matInput formControlName="correoElectronico" placeholder="Ej: jaz@dominio.com">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input type="password" matInput formControlName="psw" placeholder="Ej: contraseña">
              <mat-icon matPrefix color="primary"></mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Confirma Contraseña</mat-label>
              <input type="password" matInput formControlName="psw" placeholder="Ej: contraseña">
              <mat-icon matPrefix color="primary"></mat-icon>
            </mat-form-field>

            <div class="botones">
            <button [disabled]="registerForm.invalid" mat-raised-button (click)="crearUsuario()">Registrarse</button>
          </div>
          </form>
      </div>

      </div>
      <div class="logo">
        <img src="../../../assets/iconos/huerto.png" alt="">
      </div>
  </div>

  <div class="footer">
    <ul>
      <img src="../../../assets/iconos/huerto.png" alt="">
      <li> <a href="#">MuyApp 2020 ©</a> </li>
      <li> <a href="#">Informacion</a> </li>
      <li> <a href="#">Informacion</a> </li>
      <li> <a href="#">Informacion</a> </li>
      <li> <a href="#">Informacion</a> </li>
      <li> <a href="#">Informacion</a> </li>
    </ul>
  </div>
</div>
