.fotografiaProducto{
  border-radius: 100%;
  justify-content: center;
  width: 40px;
  height:   40px;
  padding-top: 0.2rem;
  padding-bottom: 0;
}
.centro{
  ng-container{
    width: 120px;
  }
}
.paginador {
  padding: 0;
  margin-top: 0;
}
