<div class="todo">

  <div *ngIf="seeSiembras">

    <main style="justify-content: center;" class="contenedorTabla" >
      <div class="botones-accion">
        <button mat-icon-button class="add-product"(click)="cambio('añadir'); traerProductos()" mat-mini-fab>
          <mat-icon matTooltip="Añadir Siembra" >add_circle_outline</mat-icon>
        </button>

        <button mat-icon-button class="calendario"(click)="cambio('calendario')" mat-mini-fab>
          <mat-icon matTooltip="Ver Calendario" >insert_invitation</mat-icon>
        </button>

        <button mat-icon-button class="back-menu1"(click)="volver();" mat-mini-fab>
          <mat-icon matTooltip="Regresar al menu" >arrow_back</mat-icon>
        </button>
        <p class="titulo-tabla">
          Bienvenido {{perActual.nombre}} estos son los sembrios de tu huerto
        </p>
      </div>
      <table class="centro" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--Columnas-->
        <ng-container matColumnDef="foto">
          <th mat-header-cell *matHeaderCellDef> Fotografía </th>
          <td mat-cell style="justify-content: center;" *matCellDef="let element">
            <img class="fotografiaProducto" src="{{url}}ver-archivo/{{element.Producto.imagen}}/imagen-producto">
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.Producto.nombreComun}} </td>
        </ng-container>

        <ng-container matColumnDef="nombreCientifico">
          <th mat-header-cell *matHeaderCellDef> Nombre Científico </th>
          <td mat-cell *matCellDef="let element"> {{element.Producto.nombreCientifico}} </td>
        </ng-container>

        <ng-container matColumnDef="dificultad">
          <th mat-header-cell *matHeaderCellDef> Dificultad </th>
          <td mat-cell *matCellDef="let element"> {{element.Producto.dificultad}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaSiembra">
          <th mat-header-cell *matHeaderCellDef> Fecha de Siembra </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaSiembra | date:"dd/MM/yyyy hh:mm a "}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaCosecha">
          <th mat-header-cell *matHeaderCellDef> Fecha de Cosecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaCosecha  | date:"dd/MM/yyyy hh:mm a "}} </td>
        </ng-container>

        <ng-container matColumnDef="tipoSuelo">
          <th mat-header-cell *matHeaderCellDef> Tipo de suelo </th>
          <td mat-cell *matCellDef="let element"> {{element.Producto.Condicione.tipoSuelo}} </td>
        </ng-container>

        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef> Categoria </th>
          <td mat-cell *matCellDef="let element"> {{element.Producto.categoria}} </td>
        </ng-container>

        <ng-container matColumnDef="evento" stickyEnd>
          <th mat-header-cell *matHeaderCellDef>Revisar</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button class="add-btn" (click)="openDialogDelete(element)"matTooltip=" Eliminar {{element.Producto.nombreComun}}" mat-icon-button
              color="warn" aria-label="Revisar">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="encabezadoTabla"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <main class="paginador">
        <mat-paginator style="background:linear-gradient(to top, #D2FFD7,white);"[pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </main>
    </main>


  </div>
  <div  class="tabSiembra"*ngIf="addSiembra">
    <div class="botones-accion1">
      <button mat-icon-button class="back"(click)="volver();" mat-mini-fab>
        <mat-icon matTooltip="Menu principal" >home</mat-icon>
      </button>
      <button mat-icon-button class="back-menu"(click)="cambio('volver');" mat-mini-fab>
        <mat-icon matTooltip="Volver a sembrios" >arrow_back</mat-icon>
      </button>
    </div>
    <mat-tab-group   class="borde-tab" animationDuration="1000ms" mat-align-tabs="center">
      <mat-tab class="contenido-tab" style="font-weight: bold;" label="Frutas">

        <table class="sera" mat-table [dataSource]="dataSourceFruta">

          <ng-container matColumnDef="fotos">
            <th mat-header-cell style="font-weight: bold;" *matHeaderCellDef> Fotografía </th>
            <td mat-cell style="justify-content: center;" *matCellDef="let element">
              <img class="fotografiaProducto" src="{{url}}ver-archivo/{{element.imagen}}/imagen-producto">
            </td>
          </ng-container>

          <ng-container matColumnDef="nombres">
            <th mat-header-cell style="font-weight: bold;" *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreComun}} </td>
          </ng-container>

          <ng-container matColumnDef="dificultad">
            <th mat-header-cell style="font-weight: bold;" *matHeaderCellDef> Dificultad </th>
            <td mat-cell *matCellDef="let element"> {{element.dificultad}} </td>
          </ng-container>

          <ng-container matColumnDef="eventos" stickyEnd>
            <th mat-header-cell style="font-weight: bold;" *matHeaderCellDef>Añadir</th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button class="add-btn" matTooltip=" Añadir {{element.nombreComun}} al huerto" mat-icon-button
                color="primary" aria-label="Revisar"  (click)="openDialog(element.id)" >
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr class="sera" mat-header-row *matHeaderRowDef="displayedColumnsFrutas; sticky: true"></tr>
          <tr class="sera" mat-row *matRowDef="let row; columns: displayedColumnsFrutas;"></tr>
        </table>

      </mat-tab>
      <mat-tab style="font-weight: bold;" label="Legumbres">

        <table class="sera" mat-table [dataSource]="dataSourceLegumbre">

          <ng-container matColumnDef="fotos">
            <th mat-header-cell  style="font-weight: bold;" *matHeaderCellDef> Fotografía </th>
            <td mat-cell style="justify-content: center;" *matCellDef="let element">
              <img class="fotografiaProducto" src="{{url}}ver-archivo/{{element.imagen}}/imagen-producto">
            </td>
          </ng-container>

          <ng-container matColumnDef="nombres">
            <th mat-header-cell style="font-weight: bold;" *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreComun}} </td>
          </ng-container>

          <ng-container matColumnDef="dificultad">
            <th mat-header-cell style="font-weight: bold;" *matHeaderCellDef> Dificultad </th>
            <td mat-cell *matCellDef="let element"> {{element.dificultad}} </td>
          </ng-container>

          <ng-container matColumnDef="eventos" stickyEnd>
            <th mat-header-cell style="font-weight: bold;" *matHeaderCellDef>Añadir</th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button class="add-btn" matTooltip=" Añadir {{element.nombreComun}} al huerto" mat-icon-button
                color="primary" aria-label="Revisar" (click)="openDialog(element.id)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr class="sera" mat-header-row *matHeaderRowDef="displayedColumnsLegumbres; sticky: true"></tr>
          <tr class="sera" mat-row *matRowDef="let row; columns: displayedColumnsLegumbres;"></tr>
        </table>
      </mat-tab>
      <mat-tab  style="font-weight: bold;" label="Hierbas">
        <table class="sera" mat-table [dataSource]="dataSourceHierbas">

          <ng-container matColumnDef="fotos">
            <th mat-header-cell style="font-weight: bold;" *matHeaderCellDef> Fotografía </th>
            <td mat-cell style="justify-content: center;" *matCellDef="let element">
              <img class="fotografiaProducto" src="{{url}}ver-archivo/{{element.imagen}}/imagen-producto">
            </td>
          </ng-container>

          <ng-container matColumnDef="nombres">
            <th mat-header-cell  style="font-weight: bold;" *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreComun}} </td>
          </ng-container>

          <ng-container matColumnDef="dificultad">
            <th mat-header-cell style="font-weight: bold;" *matHeaderCellDef> Dificultad </th>
            <td mat-cell *matCellDef="let element"> {{element.dificultad}} </td>
          </ng-container>

          <ng-container matColumnDef="eventos" stickyEnd>
            <th mat-header-cell  style="font-weight: bold;" *matHeaderCellDef>Añadir</th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button  class="add-btn" matTooltip=" Añadir {{element.nombreComun}} al huerto" mat-icon-button
                color="primary" aria-label="Revisar"(click)="openDialog(element.id)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr class="sera" mat-header-row *matHeaderRowDef="displayedColumnsHierbas; sticky: true"></tr>
          <tr class="sera" mat-row *matRowDef="let row; columns: displayedColumnsHierbas;"></tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div style="height: auto; border: solid; width: auto;" *ngIf="seeCalendar" class="calendar">
    <div class="botones-accion2">
      <button mat-icon-button class="back"(click)="volver();" mat-mini-fab>
        <mat-icon matTooltip="Menu principal" >home</mat-icon>
      </button>
      <button mat-icon-button class="back-menu2"(click)="cambio('volver');" mat-mini-fab>
        <mat-icon matTooltip="Volver a sembrios" >arrow_back</mat-icon>
      </button>
    </div>
    <div class="calendar">
      <full-calendar deepChangeDetection="true" [options]="calendarOptions"></full-calendar>
    </div>
  </div>

</div>
