
  <div class="container">
    <div class="cabecera">
      <img src="../../../assets/iconos/huerto.png" alt="">
      <div class="titulo">
        MuyApp
      </div>
    </div>
    <div class="subtitulo">
      ¿QUÉ AÑADIREMOS AL HUERTO HOY?
    </div>
    <hr>
    <div class="leyenda">
      Empieza la administración de tu huerto virtual
      <br>
      <br>
      tal y como lo llevas en el mundo real
    </div>
    <div class="botones">
      <button mat-raised-button routerLink="../signup">REGISTRATE</button>
      <button mat-raised-button routerLink="../login">INICIAR SESION</button>
    </div>
    <div class="footer">
      <ul>
        <img src="../../../assets/iconos/huerto.png" alt="">
        <li> <a href="#">MuyApp 2020 ©</a> </li>
        <li> <a href="#">Informacion</a> </li>
        <li> <a href="#">Informacion</a> </li>
        <li> <a href="#">Informacion</a> </li>
        <li> <a href="#">Informacion</a> </li>
        <li> <a href="#">Informacion</a> </li>
      </ul>
    </div>
  </div>

