<div class="todo">
  <div class="container">
    <div class="titulo">
      MuyApp
    </div>
    <div class="subtitulo">
      ¿QUÉ AÑADIREMOS AL HUERTO HOY?
    </div>
    <hr>
    <div class="leyenda">
      Empieza la administración de tu huerto virtual
      <br>
      <br>
      tal y como lo llevas en el mundo real
    </div>
    <div class="botones">
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="primary">Primary</button>
    </div>
    <div class="footer">
      <ul>
        <li> <a>Informacion</a> </li>
        <li> <a>Informacion</a> </li>
        <li> <a>Informacion</a> </li>
        <li> <a>Informacion</a> </li>
        <li> <a>Informacion</a> </li>
        <li> <a>Informacion</a> </li>
      </ul>
    </div>
  </div>
</div>

