
  <div class="container">
    <div class="cabecera">
      <img src="../../../assets/iconos/huerto.png" alt="">
      <div class="titulo">
        MuyApp
      </div>
    </div>
    <div class="subtitulo">
      ¿QUÉ AÑADIREMOS AL HUERTO HOY?
    </div>
    <hr>
    <div class="leyenda">
      Empieza la administración de tu huerto virtual
      <br>
      <br>
      tal y como lo llevas en el mundo real
    </div>
    <div class="botones">
      <button mat-raised-button routerLink="../signup">REGISTRATE</button>
      <button mat-raised-button routerLink="../login">INICIAR SESION</button>
    </div>
    <div class="footer">
      <ul>
        <img src="../../../assets/iconos/huerto.png" alt="">
        <li> MuyApp 2020 © </li>
        <li> <a href="https://github.com/jazsnchz"  target="_blank">Jazmin Sanchez</a> </li>
        <li> <a href="https://github.com/Henrry6"  target="_blank">Henry ALvarado</a> </li>
        <li> <a href="https://github.com/kaguachagmira" target="_blank">Kevin Guachagmira</a> </li>
        <li> <a href="https://github.com/kaguachagmira/MuyApp" target="_blank">MuyApp</a> </li>
      </ul>
    </div>
  </div>

