<table class="sera" mat-table [dataSource]="dataSource">
  <ng-container class="sera" matColumnDef="unico" >
    <th class="sera" mat-header-cell *matHeaderCellDef style="text-align: center; font-size:medium;" >Siembras</th>
    <td class="sera" mat-cell *matCellDef="let element; let i = index">

      <mat-card class="tarjeta-lateral">
        <mat-card-header>
          <mat-card-title>{{element.Producto.nombreComun}}</mat-card-title>
          <mat-card-subtitle class="nom-cientifico">{{element.Producto.nombreCientifico}}</mat-card-subtitle>
          <div class="logo-siembra">
            <img src="{{url}}ver-archivo/{{element.Producto.imagen}}/imagen-producto" alt="">
            <br>
          </div>
        </mat-card-header>
        <mat-card-content>
          <p class="descr1">Resistencia:</p>
          <p class="resp">{{element.Producto.Cuidado.resistenciaFrio}}</p>
          <p class="descr2">Sembrado:</p>
          <p class="resp">{{element.fechaSiembra | date:"dd/MM/yyyy"}}</p>
          <mat-icon matTooltip="Fechas de riego {{element.Producto.nombreComun}}" (click)="verquefechasalen(element.id);picker.open()" class="riego"aria-hidden="false" aria-label="Example home icon">event
          </mat-icon>
            <input matInput [matDatepicker]="picker">
              <mat-datepicker [dateClass]="dateClass(i)" #picker></mat-datepicker>
          <mat-icon [matMenuTriggerFor]="menuInfo" class="sed"aria-hidden="false" aria-label="Example home icon">help
          </mat-icon>
          <mat-menu  #menuInfo="matMenu" xPosition="before">

            <mat-card class="tarjeta-usuario">
              <img mat-card-image src="">
              <mat-card-header class="cabecera-usuario">
                <mat-card-title></mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
              </mat-card-header>
              <mat-card-actions>
                <button class="btnMenu" mat-button>
                  Cofiguracion
                </button>
                <button class="btnMenu" mat-button>
                  <a routerLink="">Cerrar Sesion</a>
                </button>
              </mat-card-actions>
            </mat-card>

        </mat-menu>
        </mat-card-content>
      </mat-card>
    </td>
  </ng-container>
  <tr class="sera" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr class="sera" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

