
.tarjeta-lateral{
  margin-top: 5px;
  padding-bottom: 25px;
  max-width: 200px;
  max-height: 110px;
  mat-card-content{
    position: relative;
    font-size: 10px;
  }
}

.sera{

  width: auto;
}
.nom-cientifico{
  font-size: 13px;

}
.tarjeta-lateral:hover{
  background:linear-gradient(to top, white,#E5E5E5);

}
//Aqui va todo de la sidnav

.logo-siembra img{
  border-radius: 100%;
  border: 4px solid greenyellow;
  width: 60px;
  height: 60px;
  background-size: cover;
}
.descr1{
  font-weight: bold;
  position: absolute;
  top: -15px;
}

.descr2{
  font-weight: bold;
  position: absolute;
  top: 17px;
}
.riego{
  position: absolute;
  top: 20px;
  right: 0px;
}
.sed{
  position: absolute;
  top: 20px;
  right: 25px;
}
.example-custom-date-class {
  background: greenyellow;
  border-radius: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
