<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="unico" >
    <th mat-header-cell *matHeaderCellDef style="text-align: center; font-size:medium;" >Siembras</th>
    <td mat-cell style="width: auto;"*matCellDef="let element">

      <mat-card class="tarjeta-lateral">
        <mat-card-header>
          <mat-card-title>{{element.Producto.nombreComun}}</mat-card-title>
          <mat-card-subtitle class="nom-cientifico">{{element.Producto.nombreCientifico}}</mat-card-subtitle>
          <div class="logo-siembra">
            <img src="{{url}}ver-archivo/{{element.Producto.imagen}}/imagen-producto" alt="">
            <br>
          </div>
        </mat-card-header>
        <mat-card-content>
          <p class="descr1">Resistencia:</p>
          <p class="resp">{{element.Producto.Cuidado.resistenciaFrio}}</p>
          <p class="descr2">Sembrado:</p>
          <p class="resp">{{element.fechaSiembra | date: 'short'}}</p>
          <mat-icon (click)="picker.open(); verquefechasalen()" class="riego"aria-hidden="false" aria-label="Example home icon">event
              <input matInput [matDatepicker]="picker">
              <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
          </mat-icon>
          <mat-icon class="sed"aria-hidden="false" aria-label="Example home icon">emoji_emotions
          </mat-icon>
        </mat-card-content>
      </mat-card>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

